@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

* {
    font-family: 'roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 1rem;
}
body {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;

}

header, footer {
    display: flex;
    align-items: center;            /* Alineo verticalmente */
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 40px;
    background: #403A3A;
}
h1 {
    color: #D41200;
    font-weight: 600;        /* Agregue 100 y 500 pero 200, 400 y 600 son tres diferentes (?) */   
    display: inline-block;
    font-size: 1rem;
    padding: 15px;                  
    margin: 10px 10px 10px 0px;
    background: #BFB4B0;
    border-radius: 10px;
}
.logo {
    height: 10px;
    display: flex;
    align-items: center;
}
.techo {
    margin: 10px 20px;
    width: 30px;
    height: 23px;
    position: relative;
    top: 5px;
    border: #D41200 solid 3px;
    border-top: none;
    display: inline-block;
}
.paredes {
    display: inline-block;
    margin: 10px 20px;
    width: 30px;
    height: 30px;
    position: relative;
    top: 0px;
    left: -70px;
    transform: rotate(45deg);
    border-top: #0e7900 solid 3px;
    border-left: #0e7900 solid 3px;
    transition: all .4s;
}
.logo:hover .paredes {
    top: -6px;
}


nav, ul, li, h3 {
    display: inline-block;            /* Todos los elementos block deben ser inline */
}

/* Luego con flexbox pego mi menu a la derecha y alineo el texto verticalmente*/

/* .title {
    margin: 20px;
} */

a {
    color: black;
    padding: 15px;
    text-decoration: none;
    background: #BFB4B0;
    border-radius: 10px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }

.hover-underline-animation:after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.dropdown-child a:hover .hover-underline-animation:after {    /* Cuando esta hover el anchor, le aplico la animacion al span */
  transform: scaleX(1);
  transform-origin: bottom left;
}

.presentacion {
    margin-top: 15px;
}

img, iframe {
    width: 100%;
    max-width: fit-content;

}

article {
    padding: 2rem;
}

article, aside {
    background: #e2e2e2;
    width: 100%;
    height: 100%;
} 

form {
    padding: 0rem 1rem;
}
input {
    padding: .5rem;
    margin: .5rem;
}

.articulos {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 15px;
}
.search {
    padding: 10px;
    margin: 0px auto 0px auto;          /* No se me centra??? */
    width: 90%;
}

/* Media queries??? botón para abrir menú en cierto tamaño? */

/* Cuando sea tamaño tablet o celular, en vez de las opciones esparcidas,
será un botón que me despliega un menú
*/
.main {                 /* Uso class pues solo productos va a tener sidebar */
    display: grid;
    grid-template-columns: 4fr 1fr;         /* Los elementos se acomodan en orden */
    /* grid-template-areas: 
    "a a"
    "b b"; */
    grid-gap: 15px;
    margin: 15px 0px;
}

aside {
    /* grid-area: a; */
    padding: 20px;
}
.articulos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.mainmenubtn{
    font-size: 1rem;
    background: #BFB4B0;
    padding:  15px 20px;
    margin-right: 30px; 
    display: none;
    border-radius: 10px;
}

@media screen and (max-width:1200px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width:920px){
    .search {
        width: 40%;
    }
    .main {
        display: grid;
        grid-template-rows: auto 4fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b";
        grid-gap: 15px;
        margin: 15px 0px;
    }
    aside {
        grid-area: a;
        padding: 20px;
    }
    .articulos {
        padding: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-area: b;
    }
    
    .mainmenubtn {
        display: block;
        background-color:#e2e2e2;
        color: black;
        border: none;
        cursor: pointer;
        
    }
    .mainmenubtn:hover {
        background-color:#BFB4B0;
        }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-child {
        display: none;                  /* Por defecto display none */
        width: 150px;
        position: absolute;                 /* Le agrego esto para que no dependa de las otras cajas del documento. Que se pueda poner por encima */
    }
    .dropdown-child a {
        color: black;
        padding: 20px;
        text-decoration: underline;
        display: block;
    }
    .dropdown:hover .dropdown-child {   /* Es un condicional, al estar hover dropdown, le aplica eso a child. No puedo usar hover en botones!!?? */
        display: block;                 /* Cambia display none a display block de child cuando hover */
    }
}
@media screen and (max-width:550px){
    .search {
        width: 100%;

    }
}