@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

* {
    font-family: 'roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    width: 70vw;                    /* Media queries */
    margin-left: auto;
    margin-right: auto;

}

header, footer {
    display: flex;
    align-items: center;            /* Alineo verticalmente */
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background: #403A3A;
}
h1 {
    color: #D41200;
    font-weight: 600;        /* Agregue 100 y 500 pero 200, 400 y 600 son tres diferentes (?) */   
    display: inline-block;
    font-size: 1rem;
    padding: 15px;                  
    margin: 10px 10px 10px 0px;
    background: #BFB4B0;
    border-radius: 10px;
}


nav, ul, li, h3 {
    display: inline-block;            /* Todos los elementos block deben ser inline */
}

/* Luego con flexbox pego mi menu a la derecha y alineo el texto verticalmente*/

.title {
    margin: 20px;
}

li, .tog{
    text-decoration: none;
    font-size: 1rem;
    background: #BFB4B0;
    border-radius: 10px;
    padding: 15px 0px;                  
}
li {
    margin-top: 10px;
}
.tog {
    border: none;
    padding: 15px 25px;
    margin: 0;
}

a{
    color: black;
    padding: 15px;
    text-decoration: none;

}

img, iframe {
    width: 100%;
    /* max-width: fit-content; */

}

article {
    padding: 2rem;
}

section, aside {
    background: #e2e2e2;
    width: 100%;
    height: 100%;
} 

form {
    padding: 0rem 1rem;
}
input,button {
    padding: .5rem;
    margin: .5rem;
}

.articulos {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 15px;
}
.search {
    padding: 10px;
    margin: 0px auto 0px auto;          /* No se me centra??? */
    width: 90%;
}

/* Media queries??? botón para abrir menú en cierto tamaño? */

/* Cuando sea tamaño tablet o celular, en vez de las opciones esparcidas,
será un botón que me despliega un menú
*/
.main {                 /* Uso class pues solo productos va a tener sidebar */
    display: grid;
    grid-template-columns: 4fr 1fr;         /* Los elementos se acomodan en orden */
    /* grid-template-areas: 
    "a a"
    "b b"; */
    grid-gap: 15px;
    margin: 15px 0px;
}
aside {
    /* grid-area: a; */
    padding: 20px;
}
.articulos {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}

@media screen and (max-width:1200px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width:920px){
    .main {
        display: grid;
        grid-template-rows: auto 4fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b";
        grid-gap: 15px;
        margin: 15px 0px;
    }
    aside {
        grid-area: a;
        padding: 20px;
    }
    .articulos {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-area: b;
    }
    
}
@media screen and (max-width:650px){
}