@media screen and (max-width:1300px) {
    body {
        width: 100%;
    }
}

@media screen and (max-width:920px){
    .search {
        width: 40%;
    }
    .main {
        display: grid;
        grid-template-rows: auto 4fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b";
        grid-gap: 15px;
        margin: 15px 0px;
    }
    aside {
        grid-area: a;
        padding: 20px;
    }
    .articulos {
        padding: 30px;
        justify-content:start;
    }
    
    .mainmenubtn {
        display: block;
        background-color:#e2e2e2;
        color: black;
        border: none;
        cursor: pointer;
        
    }
    .mainmenubtn:hover {
        background-color:#BFB4B0;
        }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-child {
        display: none;                  /* Por defecto display none */
        width: 150px;
        position: absolute;                 /* Le agrego esto para que no dependa de las otras cajas del documento. Que se pueda poner por encima */
    }
    .dropdown-child a {
        color: black;
        padding: 20px;
        text-decoration: underline;
        display: block;
    }
    .dropdown:hover .dropdown-child {   /* Es un condicional, al estar hover dropdown, le aplica eso a child. No puedo usar hover en botones!!?? */
        display: block;                 /* Cambia display none a display block de child cuando hover */
    }
    .presentacion {
        flex-wrap: wrap;
    }
    .presentacion-texto{
        margin-top: 20px !important;
    }
}
@media screen and (max-width:515px){
    .search {
        width: 100%;
    }
    
    .social {
        margin-top: 20px !important;    /* Pongo important para pisar bootstrap */
    }
}