.presentacion {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}
.presentacion-texto {
    margin: 20px;
}
.presentacion img {
    width: 100%;
    max-width: 400px;       /* sad */

}

